anthropic==0.32.0
docx==0.2.4
google_api_python_client==2.139.0
matplotlib==3.8.2
numpy==1.25.2
openai==1.38.0
pandas==2.2.2
protobuf==4.21.12
python-dotenv==1.0.1
python_bcrypt==0.3.2
python_docx==1.1.2
streamlit==1.29.0
xlsxwriter
openpyxl